body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
    color: black; 
}

/* Estilos do Cabeçalho */
header {
    background-color: #272727; 
    color: white; 
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-around;
    padding: 15px;
}


#sobre_cabecalho {
    margin-top: 18px;
}

#contato_cabecalho {
    margin-top: 18px;
}

.cabecalho_menu {
    display: flex;
    gap: 32px;
}

.cabecalho_itens {
    text-decoration: none;
    color: #fff; /* Cor dos itens do menu */
    font-weight: bold;
    font-size: 20px;
    font-weight: 150px;
}

#sumario{
    margin-left: 20px;
}

main {
    max-width: 800px;
    margin-left: 400px;
    margin-right: auto;
    margin-top: -250px;
    padding: 20px;
}

/* Estilos do Rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    padding: 7px;
}

.editores_class a{
    color: black;
    font-size: 18px;    
}

#linkedin{
    color: black;
    font-size: 18px;
}

#voltar_inicio {   
   text-decoration: none;
   color: white;
   text-align: right;
}

